*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #252525;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0px 0px;
    background-color:#FFC1CF;
}
.header{
    background:#FFC1CF ;
}
.purchase{
    background:#FFC1CF ;
    height: 150px;
    padding: 30px 50px;
}
.purchase button{
    background-color: #242424;color: white;letter-spacing: 0.1rem;font-size: 12px;
    position: absolute;
    left: 80%;
    margin-top: 22px;
}
.purchase p{
    color: white;
    letter-spacing: 0.1rem;
    font-size: 19px;
    position: absolute;
    left: 7%;
    margin-top: 30px;
}

.header row{
    margin-top: 70px;
}
nav{
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:#FFC1CF;
    
}

nav ul{
    display: inline-block;
    list-style-type: none;
    font-weight:600;
}

nav ul li{
    display: inline-block;
    margin: 20px;
    padding-right: 30px;

}

a{
    text-decoration: none;
    color: #252525;
    letter-spacing: .1rem;
}

p{
    color: #252525;
}
/* .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
} */
.small-containerr{
    margin: 0;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 80px 30px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    padding-right: 50px;
}
.col-2 p{
    /* padding-right: 20px; */
    font-size:small;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    background: #FD3A00;
    color: white;
    border-color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background  0.5s;
    transition: color 0.5s;
}
.btn:hover{
    background: #f3efef;
    color:#07131a;
}


.small-container{
    /* width: 100%; */
    background-color: #242424;color: white;margin: 0;padding: 0;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position:relative;
    line-height: 60px;
    color: #555;
}


.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .15rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.button-6:hover {
  transform: translateY(-1px);
}
.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
ul{
    list-style-type: none;
}


.col-4{
    flex-basis:25% ;
    padding: 10px;
    min-width: 25px;
    padding-right: 25px;
    color: #F0F0F1;
}
.col-4 p{
    color: rgb(194, 194, 194);
    font-weight: 300;
    font-size: 12px;
    padding: 23px;
    padding-top: 0%;
    word-wrap: break-word;
    width: 250px;
}
.col-4 i{
    padding-right: 14px;
}
.col-4 input{
    background-color: white;
    border: none;
    height: 38px;
    width: 150px;
    padding-left: 20px;
}
.col-4 a{
    text-decoration: none;
    background-color: #ecd072;
    color: white;
    font-size:small ;
    width: 200px;
    height: 20px;
    padding: 10px 30px;
}


.image-container {
    position: relative;
  } 
 
 .insta{
    display: block;
    padding-right: 30px;
    padding-top: 20px;
 }

/* -------------------- */
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1350px;
  height: 571px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: #242424;
}
.dot-divv{
    position:absolute;
    top: 93%;
    left: 50%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #242424;
}
/* row1 */
.animate{
    animation-name:imagee;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.25,0.1,0.25,0.1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes imagee{
    from{
        transform: translateX(0) rotate(0);
    }
    to{
        transform: translateX(600px) rotate(360deg);
    }
}
.animateleave{
        animation-name:imageleave;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.25,0.1,0.25,0.1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes imageleave {
    from{
        transform: translateX(600px) rotate(360deg);
    }to{
        transform: translateX(0) rotate(0);
    }
    
}
.animate2{
    animation-name:imagee2;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.25,0.1,0.25,0.1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes imagee2{
    from{
    }
    to{
        transform: translateX(-450px);
    }
}
.animate2leave{
    animation-name:imagee2leave;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.25,0.1,0.25,0.1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes imagee2leave{
    from{transform: translateX(-450px);
    }
    to{
        transform: translateX(0);
    }
}
/* row2 */
.animateb{
    animation-name:imageeb;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.25,0.1,0.25,0.1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes imageeb{
    from{
        transform: translateX(0) rotate(0);
    }
    to{
        transform: translateX(-600px) rotate(-360deg);
    }
}
.animateleaveb{
        animation-name:imageleaveb;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.25,0.1,0.25,0.1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes imageleaveb {
    from{
        transform: translateX(-600px) rotate(-360deg);
    }to{
        transform: translateX(0) rotate(0);
    }
    
}
.animate2b{
    animation-name:imagee2b;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.25,0.1,0.25,0.1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes imagee2b{
    from{
    }
    to{
        transform: translateX(450px);
    }
}
.animate2leaveb{
    animation-name:imagee2leaveb;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.25,0.1,0.25,0.1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes imagee2leaveb{
    from{transform: translateX(450px);
    }
    to{
        transform: translateX(0);
    }
}